
.admin__nav>div{
    display: flex;
    flex-flow: row nowrap;
    overflow-x: auto;
    list-style: none;
    background-color: rgb(159, 233, 90);
    &>div{
        min-width: 110px;
        text-align: center;
        &>a{
            display: block;
            text-decoration: none;
            padding: 5px auto;
        }
    }
    &::-webkit-scrollbar{
        display: none;
    }
}
.dashboard{
    margin: 0 auto;
}