
.OTable {
  overflow: auto;

  &::-webkit-scrollbar {
    display: none;
  }
}

.orderDetail{
  margin: 0 auto;
  max-width: 800px;
}
.orderItem {
  display: flex;
  flex-flow: row ;
  justify-content: space-between;
  max-width: 650px;
  & a{
    text-decoration: none;
  }
}

