.OTable {
  overflow: auto;

  &::-webkit-scrollbar {
    display: none;
  }
}

.orderDetail {
  margin: 0 auto;
  max-width: 600px;
}

.orderItem {
  display: flex;
  flex-flow: row;
  max-width: 650px;
  align-content: center;

  & :last-child {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;

  }

  & a {
    text-decoration: none;
  }
}