/* Product Details Page */
.modal-dialog{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    max-width: 400px;
    & textarea{
        width: 100%;
        height: 6rem;
    }
    & ul{
        height: 3rem;
    }
}

.pagination{
    display: flex;
    justify-content: center;
}

.products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(360px, 1fr));
    grid-auto-rows: repeat(auto-fit, minmax(360px, 1fr));
    grid-auto-flow: row;


    .product {
        border: 1px solid rgb(197, 183, 183);

        &__image {
            object-fit: contain;
        }

        &__body {
            display: flex;
            flex-flow: column wrap;
            align-content: center;

        }

        &__title a {
            color: #2e2e2e;

            &:hover {
                color: #fa9c23;
                text-decoration: none;
            }
        }

        &__text {
            font-size: 1rem;
        }
    }
}
.product img{
object-fit: contain;
}

.col3 {
    position: relative;
    max-width: 230px;
    width: 65%;
    padding-right: 15px;
}

.review_user {
    font-size: 0.8rem;
    color: grey;
}

#product_id {
    color: grey;
    font-size: 0.8rem;
}

#product_price {
    font-size: 2rem;
    font-weight: bold;
}

.stockCounter {
    min-width: 100px;
    
    & input {
        border: none;
        width: 1rem;
        text-align: center;

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    }
}

/* Reviews */
.rating {
    margin-top: 10rem;
}

.stars {
    height: 100px;
    display: flex;
    align-items: center;
    padding-left: 0;
}

.star {
    display: inline;
    list-style: none;
    font-size: 3rem;
    padding-left: 0.9rem;
    color: #e3e3e3;
}

.star:first-child {
    padding-left: 0;
}

.orange {
    color: #fa9c23;
}

.yellow {
    color: #fdcc0d;
}

// ProductDetail
.carousel__imag {
    object-fit: contain;
}

.productDetail {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    margin: 0 auto;
}