.avatar-profile {
    height: 16rem;
    width: 16rem;
}

.avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#edit_profile {
    background-color: #fa9c23;
    border-color: #fa9c23;
}